<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Demo</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app" v-cloak>
        <!-- Start Vue -->
        <h1>{{ title }}</h1>
        
        <button @click="fetchResource('actors',1)">Actors</button>
        <button @click="fetchResource('films',1)">Films</button>


        <h3>{{ resourceType }}</h3>
        <div v-if="enableButtons">
            <div v-if="resourceType === 'actors'" >
                <button @click="goToFirstPage('actors')">First</button>
                <button @click="goToPreviousPage('actors')">Previous</button>
                {{ page + 1}}/{{ totalPages }}
                <button @click="goToNextPage('actors')">Next</button>
                <button @click="goToLastPage('actors')">Last</button>
            </div>
            <div v-else="">
                <button @click="goToFirstPage('films')">First</button>
                <button @click="goToPreviousPage('films')">Previous</button>
                {{ page + 1}}/{{ totalPages }}
                <button @click="goToNextPage('films')">Next</button>
                <button @click="goToLastPage('films')">Last</button>
            </div>
        </div> 

        <table>
            <thead>
                <tr>
                    <th v-for="key in headings">
                        {{key}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="resource in content">                    
                    <td v-for="key in resource">{{key}}</td>
                </tr>
            </tbody>
        </table>

        <!-- End Vue -->
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/app.js">
        const count = ref(0)
    </script>
</body>

</html>